body{
  background-image: url(base_pags.png);
  background-size: cover;
  background-repeat: no-repeat;
}
h1{
  color: white;
  text-align: center;
}
p{
  color: white;
}
.informacoes{
  width: 50%;
}
.curiosidade{
  right: 10%;
}
